@font-face {
  font-family: 'Lalezar';
  src: url('./assets/fonts/Lalezar.ttf');
}
@font-face {
  font-family: 'Yekan';
  src: url('./assets/fonts/Yekan.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lalezar{
  font-family: 'lalezar';
}